.hero-wrapper{
    color:white;
    position: relative;
    padding-bottom: 2rem;
}

.hero-container{
    justify-content: space-between;
    align-items: flex-end;
}

.image-container{
    width: 45rem;
    height: 35rem;
    --gap: 16px;
    --num-cols: 2;
    --row-height: 280px;
    box-sizing:  border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    animation: fade-up 1s;
}

.image-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container-col-2{
    grid-column: span 2;
}

.image-container-row-2{
    grid-row: span 2;
}

.hero-left{
    gap:3rem;
}

.hero-title{
    position: relative;
    z-index: 1;
}

.hero-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}

.orange-circle{
    height: 4rem;
    width: 4rem;
    background: var(--orange-gradient);
    border-radius: 999px;
    position: absolute;
    right: -7%;
    top: -10%;
    z-index: -1;
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 5px;
    border: none;
    outline: none;
    width: 100%;
}

.search-input-container {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #ffffff;
    border-radius: 25px 0 0 25px;
    padding: 5px 10px;
    border: none;
    outline: none;
}

.search-icon {
    margin-right: 8px;
    font-size: 18px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none; 
    padding: 5px;
    font-size: 16px;
    border-radius: 25px 0 0 25px;
}

.search-input::placeholder {
    color: #cccccc;
}

.search-btn{
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 0 25px 25px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
}

.search-btn:hover{
    background-color: #0056b3;
}

.search-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.stats{
    width: 100%;
    justify-content: space-between;
}

.stat>:nth-child(1){
    font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
    color: orange;
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}